<div class="small-12 medium-9 column">
  <ul>
    <%= raw content_block("subnavigation_left", I18n.locale) %>
    <div class="dropdown">
      <% if feature?(:welcome) %>
       <li>
         <%= layout_menu_link_to t("layouts.header.welcome"),
                                 debates_path,
                                 controller_name == 'welcome',
                                 accesskey: "0",
                                 title: t("shared.go_to_page") + t("layouts.header.welcome") %>
        </li>
     <% end %>
     <% if feature?(:debates) %>
       <li>
         <%= layout_menu_link_to t("layouts.header.debates"),
                                 debates_path,
                                 controller_name == 'debates',
                                 accesskey: "1",
                                 title: t("shared.go_to_page") + t("layouts.header.debates") %>
        </li>
      <% end %>
      <% if feature?(:sugestion_assets) %>
       <li>
         <%= layout_menu_link_to t("layouts.header.sugestion_assets"),
                                 sugestion_assets_path,
                                 controller.class == SugestionAssetsController,
                                 accesskey: "2",
                                 title: t("shared.go_to_page") + t("layouts.header.sugestion_assets") %>
        </li>
     <% end %>
       
      <!-- <div class="dropdown"> -->
      <button class="dropbtn">
        <i class="fa fa-caret-down"></i>
        <% if feature?(:tombamentos) %>
           <li>
          <%= layout_menu_link_to t("layouts.header.tombamentos"),
                                   tombamentos_path,
                                     controller.class == TombamentosController,                                   accesskey: "3",
                                    title: t("shared.go_to_page") + t("layouts.header.tombamentos") %>  
          </li>
          <ul class="dropdown-content"> 
            <a href="#"> Link 1</a>
            <a href="#"> Link 2</a>
            <a href="#"> Link 3</a>
          </ul>
        <% end %>
      </button> 

     <% if feature?(:polls) %>
       <li>
          <%= layout_menu_link_to t("layouts.header.poll_questions"),
                                    polls_path,
                                   controller_name == "polls" || (  controller_name == "questions" && controller.class.parent == Polls),
                                   accesskey: "4",
                                   title: t("shared.go_to_page") + t("layouts.header.poll_questions") %>
      </li>
    <% end %>
    <% if feature?(:help_page) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.help"),
                                help_path,
                                current_page?(help_path),
                                accesskey: "6",
                                title: t("shared.go_to_page") + t("layouts.header.help") %>
      </li>
    <% end %>
  
    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>